body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
}
h1 strong{
    color: orange;
}
h2 {
    color: orange;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 40px;
}
.box-container{
    background: #edf2f4;
    padding: 20px;
}
.box-job-company, .box-date{
    margin: 10px 0;
}
.box-description{
    font-size: 20px;
}

.box strong{
    font-family: 'Lato', sans-serif;
}
.box{
    /* border: tamaño tipo estilo*/
    border: 1px solid grey;
    border-radius: 10px;

    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.box-job-name{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
.box-details{
    width: 800px;
    height: inherit;
    display: inline-block;
    text-align: justify;
  }
.hero{
    height: 350px;
    background-color: #2b2d42;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    background-color: #2b2d42;
    color: white;
    margin-top: 0;
    display: flex;
    /* Espacio entre elementos del componente*/
    justify-content: space-between;

    height: 70px;
    align-items: center;
}
.header a{
    color: white;
    text-decoration: none;
}
.header ul{
    display: flex;
    height: inherit;
}
.header ul li{
    height: inherit;
}
.header a {
    display: block;
    height: inherit;
    display:flex;
    align-items: center;
    padding: 0 10px;
}
.menu{
    height: inherit;
}
ol, ul{
    /* Sacamos margenes */
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer{
    background-color: #1b2127;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.footer a{
    color: white;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    /* Heredamos del padre, para no arruinar el wrapper*/
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}
